{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4">📊 Item-wise Sales Report</h3>

<input type="text"
       id="search"
       class="form-control mb-3"
       placeholder="Search Product...">

<div class="card shadow">
    <div class="card-body p-0">

        <table class="table table-hover mb-0" id="table">

            <thead class="table-dark">
                <tr>
                    <th width="60%">Product</th>
                    <th>Total Qty Sold</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

            {% for parent, children in grouped_data.items %}

                <tr class="table-secondary parent-row">
                    <td colspan="3">
                        <b>{{ parent }}</b>
                    </td>
                </tr>

                {% for child in children %}
                <tr class="product-row">

                    <td class="ps-5">
                         {{ child.name }}
                    </td>

                    <td>
                        <span class="badge bg-primary fs-6">
                            {{ child.qty }}
                        </span>
                    </td>

                    <td>

                        {% if child.qty > 50 %}
                            <span class="badge bg-success">
                                High Demand
                            </span>

                        {% elif child.qty > 20 %}
                            <span class="badge bg-warning text-dark">
                                Medium
                            </span>

                        {% else %}
                            <span class="badge bg-danger">
                                Low
                            </span>
                        {% endif %}

                    </td>

                </tr>
                {% endfor %}

            {% empty %}
                <tr>
                    <td colspan="3"
                        class="text-center p-3">
                        No Sales Data
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

    </div>
</div>

<script>

document.getElementById("search")
.addEventListener("keyup", function() {

    let value = this.value.toLowerCase();

    let rows = document.querySelectorAll(".product-row");

    rows.forEach(row => {

        let text = row.innerText.toLowerCase();

        row.style.display =
            text.includes(value) ? "" : "none";
    });

});

</script>

{% endblock %}