{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold">Product Management</h3>

    <form method="get" class="d-flex">
        <input type="text" name="q" value="{{ request.GET.q }}"
               placeholder="Search Product"
               class="form-control me-2" style="width:250px;">
        <button class="btn btn-primary">Search</button>
    </form>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <h5>
            {% if product_to_edit %}Edit{% else %}Add{% endif %} Product
        </h5>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary w-100">
                {% if product_to_edit %}Update{% else %}Add{% endif %}
            </button>
        </form>
    </div>
</div>

<div class="card shadow">
    <div class="card-body p-0">

        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Branch Stock</th>
                    <th>Brand</th>
                    <th>HSN</th>
                    <th>Price</th>
                    <th>Total Stock</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            <tbody>
            {% for p in data %}
                <tr>

                    <td>{{ p.name }}</td>

                    <td>
                        Total: {{ p.total_stock }}
                    
                        <ul>
                            {% for s in p.filtered_stocks %}
                                <li>{{ s.branch.name }} → {{ s.stock }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ p.brand }}</td>
                    <td>{{ p.hsn|default:"-" }}</td>
                    <td>₹{{ p.price }}</td>

                    <td class="fw-bold ">
                        {{ p.total_stock }}
                    </td>
                    <td>
                        {% if p.total_stock <= p.low_stock_limit %}
                            <span class="badge bg-danger">Low Stock</span>
                        {% else %}
                            <span class="badge bg-success">In Stock</span>
                        {% endif %}
                    </td>

                    <td class="text-center">
                        <a href="?edit={{ p.id }}" class="btn btn-sm btn-outline-primary me-1" title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                    
                        <a href="/delete_product/{{ p.id }}" class="btn btn-sm btn-outline-danger" title="Delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center p-3">
                        No Products Found
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}